@charset "utf-8";

/*
 * ***************************************
 * ページ全体に関わるCSSの設定
 * ***************************************
 */
 @import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
@font-face {
    font-family: "gihun";
    src: url("Gihun-p7eoO.woff");
}


 html *,
 ::before,
 ::after {
     box-sizing: border-box;
 }
 html {
     font-size: 16px;
     color: #fff;
     scroll-behavior: smooth;
 }

 h1, h2, h3, h4, h5, h6, th, strong {
    font-weight: 700;
  }

body {
    font-weight: 500;
    background-color: #1a1a1a;
}

video {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

main .main-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

@media (max-width: 850px) {
    html {
        font-size: 14px;
    }
    main .main-container {
        margin: 0 auto;
        padding: 0;
        
    }
}


/*
 * ***************************************
 * Headr部分のCSS　
 * ***************************************
 */
.header-container {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    position: fixed;
    z-index: 999;
    width: 100%; 
    
}
.header-logo img {
    width: 200px;
}

@media (max-width: 765px) {
    
    .header-logo img {
        width: 100px;
    }
} 
.header-nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 850px) {
    .header-nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #808080;
    opacity: .8;
    }
}

.header-nav li {
    margin: 20px 2px 0px 0;
    font-size: 1rem;
} 

.header-nav li a {
    padding: 2px 15px 2px 15px;
    color: azure;
    text-decoration: none;
    font-family: 'M PLUS 1p', sans-serif;
}

.header-nav li a:hover {
    border-bottom: 2px solid #808080;
    opacity: .7;
}


.hamburger-menu {
    display: none;
}


#menu-btn-check {
    display: none;
}
@media (max-width: 850px) {
    .pc-header {
        display: none;
    }
    .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #fff;
        border-radius: 20%;
    }

    .hamburger-menu {
        display: block;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #808080;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }
    
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    .menu-content {
        display: none;
    }
    input:checked ~ .menu-content{
        display: inline-block;
        z-index: 50;
    }
    
}
/*
 * ***************************************
 * hero部分のCSS　・・・文字を自動で縮小したい
 * ***************************************
 */

.hero-container {
    margin-bottom: 80px;
}
.hero-movie {
    position: relative;
}
.hero-text {
    width:400px;
    position: absolute;
    top:  50%;
    left: 30px; 
}

.hero-text p {
    font-size: 2rem;
    color: #fff;
    line-height: 3.5rem;
}

@media (max-width: 850px) {
    .hero-text {
        display: none;
    }
}

/*
 * ***************************************
 * フレックスボックス系のコラム
 * ***************************************
 */


.column1 {
    border-top: solid 2px #808080;
    display: flex;
    margin: 15px 0;
    padding-top: 70px;    
}

.column2 {
    border-top: solid 2px #CCCCCC;
    display: flex;
    flex-direction: row-reverse;
    margin: 70px 0;
    padding: 70px 0 0 0;
}

 .image {
    width: 50%;
    margin: 0 10px 0 10px;
}

.text {
    width: 50%;
    margin: 2px;
    height: 300px;
    text-align: left;
}

.text h2 {
    padding: 0 0 5px 0;
    margin: 0;
    text-align: center;
    color: azure;
    
}
.text h2::first-letter {
    font-weight: bold;
    font-size: 40px;
    color: red;
  }
.text p {
    font-size: 1rem;
    color: #fff;
    padding: 0;
    margin: 0;
}

@media (max-width: 850px) {
    .column1 {
        display: inline-block;
        text-align: center;
        
    }
    .column2 {
        display: inline-block;
        text-align: center;   
    }
    .text {
        text-align: left;
        width: 95%;
        margin: 0 5px 0 5px;
    }
    .image {
        text-align: center;
        width: 100%;
    }
}

/*
 * ***************************************
 * グリッドレイアウト系のCSS
 * ***************************************
 */

 .grid-container {
     border-top: solid 2px #808080;
     padding-top: 60px;
     margin: 0 0 60px 0;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-auto-rows: minmax(300px, 300px);
 }

.grid {
    text-align: center;
    text-shadow:
    2px 0 0 black,
    0 2px 0 black,
    -2px 0 0 black,
    0 -2px 0 black;
}
 .grid1 {
     border-bottom: 1px solid #808080;
     border-right: 1px solid #808080;
     background-image: url("../images/story_02.gif");
     background-repeat: no-repeat;
     background-size: 200px 200px;
     background-color:rgba(26,26,26,0.8);
     background-blend-mode: lighten;
     background-position: 5% 75%;
 }

 .grid2 {
     border-left: 1px solid #808080;
     border-bottom: 1px solid #808080;
     background-image: url("../images/doukutu.png");
     background-repeat: no-repeat;
     background-size: 200px 200px;
     background-color:rgba(26,26,26,0.8);
     background-blend-mode: lighten;
     background-position: 5% 75%;
 }

 .grid3 {
     border-right: 1px solid #808080;
     border-top: 1px solid #808080;
     background-image: url("../images/no_1.gif");
     background-repeat: no-repeat;
     background-size: 200px 200px;
     background-color:rgba(26,26,26,0.8);
     background-blend-mode: lighten;
     background-position: 5% 75%;
 }

 .grid4 {
     border-top: 1px solid #808080;
     border-left: 1px solid #808080;
     background-image: url("../images/random.png");
     background-repeat: no-repeat;
     background-size: 200px 200px;
     background-color:rgba(26,26,26,0.8);
     background-blend-mode: lighten;
     background-position: 5% 75%;
 }

 @media (max-width: 850px) {
     .grid-container {
         display: block;
     }
 }

.genre {
    font-size: .7rem;
    font-style: italic;
}

.genre span {
    font-weight: bold;
}


 /*
 * ***************************************
 * フォトギャラリー系のCSS
 * ***************************************
 */

 .photos-container {
    border-top: solid 2px #808080;
     display: flex;
     padding: 100px 0 100px 0;
     opacity: 0;
 }


 .fadein {
    animation: fadein-anim 5s linear forwards;
 }

 @keyframes fadein-anim {
     100% {
         opacity: 1;
     }
 }
 .photo1 {
    margin: 0px 50px 150px 30px;
    transform: rotate(3deg);
    display: inline-block; 
	position: relative;
 }
 .photo1:after {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 88%;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transform: rotate(3deg); /* 回転させる */
	background: #fff;
	z-index: -1;
    opacity: .8;
} 

 .photo2 {
    margin: 140px 50px 100px 50px;

    display: inline-block;
	position: relative;
    background-color: #1a1a1a;
}
.photo2:after {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 
	  inset 0 0 20px #1a1a1a /* 背景色と同じ色 */,
      inset 0 0 20px #1a1a1a,
      inset 0 0 20px #1a1a1a,
      inset 0 0 20px #1a1a1a;
}

/*
 * ***************************************
 * コンテンツ紹介系のCSS
 * ***************************************
 */

 .guide-container:last-child {
     padding-bottom: 70px;
 }
.guide-game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 70px;  
}
.guide-about {
    grid-column: 4/7;
    grid-row: 1/4;
    padding-left: 10px;
}

.guide-about  h1{
    text-align: center;
    padding: 0;
    margin: 0;
}

.guide-h1A {
    color: aquamarine;
    text-shadow: 2px 2px #558ABB;
}

.guide-h1B {
    color: rgb(235, 207, 157);
    text-shadow: 2px 2px darkgoldenrod;
}
.guide-h1C {
    color: rgb(rgb(212, 81, 81), green, blue);
    text-shadow: 2px 2px #558ABB;
}
.guide-h1D {
    color: #FFB319;
    text-shadow: 1px 1px #FFF399;
}


/*
 * ***************************************
 * aboutのCSS ・・・flexを使うかそのままか悩み中(JSで量が多くなればflex)
 * ***************************************
 */
 .about-container {
    border-top: solid 2px #808080;
    padding-top: 70px;
    text-align: center;
 }

 .references {
     list-style-type: none;
     font-size: 1.25rem;
     line-height: 2.25rem;
 }

 .references li a {
     text-decoration: none;
     color: #0066c0;
     font-family: 'M PLUS 1p', sans-serif;
     padding: 2px 0 0 2px 0;
 }
 .references li a:hover {
     opacity: .7;
 }

 /*
 * ***************************************
 * フッターコンテナここから～～～
 * ***************************************
 */
 /*
 * ***************************************
 * フッターヒーローCSS
 * ***************************************
 */
.thanks {
    border-top: solid 2px #808080;
    text-align: center;
    padding-top: 70px;
}

.thanks-hero {
    font-size: 2.4rem;
    font-family: "gihun";
}


/*
 * ***************************************
 * TOPへ戻るリンクのCSS 
 * ***************************************
 */

 .return-top {
    text-align: center;
}

.return-top a {
    display: inline-block;
    padding: 10px 60px 10px 60px;
    background: #808080;
    border-radius: 30px 30px 0 0;
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
    opacity: .5;
}

.return-top a:hover {
    opacity: 0.8;
}

/*
 * ***************************************
 * アニメーション系のCSS
 * ***************************************
 */
 .sa {
    opacity: 0;
    transition: all 1s ease;
  }

  .sa.show {
    opacity: 1;
    transform: none;
  }

  .sa–up {
    transform: translate(0, 100px);
  }