@charset "utf-8";

/*
 * ***************************************
 * ページ全体に関わるCSSの設定
 * ***************************************
 */
 @import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
@font-face {
    font-family: "gihun";
    src: url("Gihun-p7eoO.woff");
}


 html *,
 ::before,
 ::after {
     box-sizing: border-box;
 }
 html {
     font-size: 16px;
     color: #fff;
     scroll-behavior: smooth;
 }

 h1, h2, h3, h4, h5, h6, th, strong {
    font-weight: 700;
  }

body {
    font-weight: 500;
    background-color: #1a1a1a;
}

video {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

main .main-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

/*
 * ***************************************
 * Headr部分のCSS　
 * ***************************************
 */
.header-container {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    position: fixed;
    z-index: 999;
    width: 100%; 
    
}
.header-logo img {
    width: 200px;
}

@media (max-width: 765px) {
    .header-logo img {
        width: 100px;
    }
} 
.header-nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 850px) {
    .header-nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #808080;
    opacity: .8;
    }
}

.header-nav li {
    margin: 20px 2px 0px 0;
    font-size: 1.1rem;
} 

.header-nav li a {
    padding: 2px 15px 2px 15px;
   
    color: azure;
    text-decoration: none;
    font-family: 'M PLUS 1p', sans-serif;
}

.header-nav li a:hover {
    border-bottom: 2px solid #808080;
    opacity: .7;
}

/*
 * ***************************************
 * hero部分のCSS　・・・文字を自動で縮小したい
 * ***************************************
 */

.hero-container {
    margin-bottom: 80px;
}
.hero-movie {
    position: relative;
}
.hero-text {
    width:500px;
    position: absolute;
    top:  50%;
    left: 30px; 
}

.hero-text p {
    font-size: 2rem;
    color: #fff;
    line-height: 3.5rem;
}

/*
 * ***************************************
 * フレックスボックス系のコラム
 * ***************************************
 */


.column1 {
    border-top: solid 2px #808080;
    display: flex;
    margin: 15px 0;
    padding-top: 70px;
}

.column2 {
    border-top: solid 2px #CCCCCC;
    display: flex;
    flex-direction: row-reverse;
    margin: 70px 0;
    padding: 70px 0 0 0;
}

 .image {
    width: 50%;
    margin: 0 10px 0 10px;
}

.text {
    width: 50%;
    margin: 2px;
    height: 300px;
    text-align: left;
}

.text p {
    font-size: 1.15rem;
    color: #fff;
}

@media (max-width: 850px) {
    .column1 {
        display: inline-block;
        text-align: center;
    }
    .column2 {
        display: inline-block;
        text-align: center;
    }
    .text {
        display: inline-block;
        text-align: center;
    }
    .image {
        display: inline-block;
        width: 70%;
        text-align: center;
    }
}

/*
 * ***************************************
 * グリッドレイアウト系のCSS
 * ***************************************
 */

 .grid-container {
     border-top: solid 2px #808080;
     padding-top: 60px;
     margin: 0 0 60px 0;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-auto-rows: minmax(300px, 300px);
 }

.grid {
    text-align: center;
}
 .grid1 {
     border-bottom: 1px solid #808080;
     border-right: 1px solid #808080;
 }

 .grid2 {
     border-left: 1px solid #808080;
     border-bottom: 1px solid #808080;
 }

 .grid3 {
     border-right: 1px solid #808080;
     border-top: 1px solid #808080;
 }

 .grid4 {
     border-top: 1px solid #808080;
     border-left: 1px solid #808080;
 }

 @media (max-width: 850px) {
     .grid-container {
         display: block;
     }
 }

 /*
 * ***************************************
 * フォトギャラリー系のCSS
 * ***************************************
 */

 .photos-container {
    border-top: solid 2px #808080;
     display: flex;
     padding: 100px 0 100px 0;
 }

 .photos-container img {
     opacity: 0;
     animation: fadein-anim 10s linear forwards;
 }

 @keyframes fadein-anim {
     100% {
         opacity: 1;
     }
 }
 .photo1 {
    margin: 0px 100px 150px 10px;
 }

 .photo2 {
    margin: 140px 50px 100px 70px;
}

/*
 * ***************************************
 * aboutのCSS ・・・flexを使うかそのままか悩み中(JSで量が多くなればflex)
 * ***************************************
 */
 .about-container {
    border-top: solid 2px #808080;
    padding-top: 70px;
    text-align: center;
 }

 .references {
     list-style-type: none;
     font-size: 1.25rem;
     line-height: 2.25rem;
 }

 .references li a {
     text-decoration: none;
     color: #0066c0;
     font-family: 'M PLUS 1p', sans-serif;
     padding: 2px 0 0 2px 0;
 }
 .references li a:hover {
     opacity: .7;
 }

 /*
 * ***************************************
 * フッターコンテナここから～～～
 * ***************************************
 */
 /*
 * ***************************************
 * フッターヒーローCSS
 * ***************************************
 */
.thanks {
    border-top: solid 2px #808080;
    text-align: center;
    padding-top: 70px;
}

.thanks-hero {
    font-size: 2.4rem;
    font-family: "gihun";
}


/*
 * ***************************************
 * TOPへ戻るリンクのCSS 
 * ***************************************
 */

 .return-top {
    text-align: center;
}

.return-top a {
    display: inline-block;
    padding: 10px 60px 10px 60px;
    background: #808080;
    border-radius: 30px 30px 0 0;
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
    opacity: .5;
}

.return-top a:hover {
    opacity: 0.8;
}
